body {
    font-family: 'Noto Mono', 'Nimbus Mono', 'Liberation Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #1b1d1f;
}

.screen {
    height: 100px;
    border: 4px inset black;
    background-color: gray;
    margin: 8px 0px 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 80px;
    font-family: monospace;
}

button {
    font-size: 28px;
    font-weight: bold;
    margin: 4px;
    background-color: transparent;
    color: white;
    border-style: none;
}

button:hover {
    background-color: white;
    color: #1b1d1f;
}

.buttons .math-functions,
.buttons .functions,
.math-functions .operators {
    display: flex;
}

.buttons .functions {
    justify-content: space-between;
}

.operators .left-side,
.operators .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.functions {
    background-color: rgb(255, 255, 255);
}

.functions button {
    color: #1b1d1f;
    border: 2px solid #1b1d1f;
}

.functions button:hover {
    background-color: #1b1d1f;
    color: white;
}

.numbers {
    background-color: rgb(31, 31, 31);
}

.numbers button {
    width: 60px;
}

.operators button {
    width: 40px;
}