body {
    font-family: 'Noto Mono', 'Nimbus Mono', 'Liberation Mono', monospace;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal {
    padding: 5px;
    background-color: black;
}

.screen {
    width: 300px;
    height: 100px;
    border: 4px inset black;
    background-color: gray;
}