body {
    font-family: 'Noto Mono', 'Nimbus Mono', 'Liberation Mono', monospace;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #1b1d1f;
}

.screen {
    height: 100px;
    border: 4px inset black;
    background-color: gray;
}